<% if user_signed_in? %>
  <% if @user.user.nil? %>
    <h1>Contents#index User: NULL</h1>
  <% else %>
    <h1>
      <%= "Contents#index User: #{@user&.user.login_id}"%>
    </h1>
  <% end %>
<% else %>
  <h1>Content#index (Contents)</h1>
<% end %>
<div>
  <% @contents.each do |f| %>
    <div style="display:block">
      <%=f.name %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.content %>
    </div>
    <br />
  <% end %>
</div>
<div>
  <%= link_to "New", new_content_path %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <% if user_signed_in? %>
    <%= link_to "Logout", auth_logout_path(session), method: :delete %>
  <% else %>
    <%= link_to "Login", '/auth/cas' %>
  <% end %>
</div>
